/* src/Register.css */

.register-container {
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
    background-color: #b8b4da;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  h2 {
    text-align: center;
    color: #575c9d;
    font-weight: bold; 
    font-size: 2em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the items horizontally */
    background-color: #f5efef; /* Set your desired background color */
    padding: 20px; /* Add padding for better visual appearance */
    margin: auto; /* Center the form within its container */
    max-width: 500px; /* Set a maximum width for the form */
    border-radius: 8px;
  }
  
  label {
    margin: 10px 0;
    color: #555;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  button {
    padding: 12px;
    background-color: #6254c8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }

  .error{
    padding: 12px;
    color:red;
    font-weight: bold; 
    font-size: 3.5mm;

  }

  .errorMsg{
    background-color: #ffdddd; /* Light red background for error state */
    border: 1px solid #ff5252;
  }
  