.messageBox{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: #b8b4da;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    max-height: 120px;
    cursor: pointer;
}
.messageUserBox{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: #b8b4da;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    max-height: 120px;
    cursor: pointer;
}
