/* styles.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .searchInputDiv{
    align-items: center;
    
  }
  .searchInputUsers{
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #dad4d4;
    width: 100%;
  }
  
  .usersTable {
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #ccc; /* Add border to the table */
  }
  
  .usersTh,
  .usersTd {
    border: 1px solid #ccc; /* Add border to table cells */
    padding: 10px;
    text-align: left;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  .table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .follow-button, .unfollow-button {
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .follow-button {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .unfollow-button {
    background-color: #f44336; /* Red */
    color: white;
  }
  
  .follow-button:hover, .unfollow-button:hover {
    opacity: 0.8; /* Reduce opacity on hover */
  }
  
  .page-info {
    font-size: 14px;
  }
  
  .pagination-buttons {
    padding: 8px 12px;
    background-color: #007bff;
    color:black;
    border: none;
    cursor: pointer;
  }
  
  .pagination-buttons:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .pagintorDiv{
    text-align: center;
    margin-top: 20px;
  }
  